
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Merriweather', sans-serif;
    font-size : 20px;
    max-width: 100%;


}


body{
    min-width: 50%;
    display: grid; /*para que no se vaya deformando a medida que vaya bajando */
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}

a{
    text-decoration: none; /*esto es para sacarle la decoración*/
    color: white; /*letra de botón iniciar sesión */
}
.header{
    background-color: black;
    display: flex;
    height: 70px, 70px;
    background-color: black;
    justify-content: space-between;/*para darle espacio entre los div*/
    align-items: center;
    box-shadow: 10px, 10px, 15px;
}

.logo{
    display: flex;
    padding: 10px;
    align-items: center;/*alinear en el centro*/
}

.logo .logo-name{
    color: white;
}

.logo img{
    height: 80px;
    padding: 10px;
    align-items: center;
    margin-right: 10px;
}


.contenedor{
 
    width: 100%;

    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  
}

.card{
    height: auto    ;
    width: 300px;
    margin: 20px;
    overflow: hidden; /*para que todo lo que salga de la card se oculte*/
    background-color: #557996;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2) ;
    cursor: default; /*para que se pueda ver siempre el cursor al pasarlo por encima de las letras*/
    transition: all 400ms ease;
    align-self: stretch !important;
  
}

.card:hover{
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2) ;
    transform: translateY(-3%);
    border: 2px solid white
}

.card .icono .card-img{
    padding: 60px;
    filter: invert(50%);
    justify-content: center;
   
}

.card .card-body{
    padding: 15px;
    text-align: center;
    
}

.card-body p{
    line-height: 1.5;
    color: blanchedalmond;
}

.card .card-body h3{
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
}

.btn{
    transition: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: wheat;
    border: 1px;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .contenedor{
        flex-wrap: wrap;
    }
    .card{
        margin: 15px;
    }
}




