
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Merriweather', sans-serif;
    font-size : 20px;

}


body{
    min-width: 400px;
    display: grid; /*para que no se vaya deformando a medida que vaya bajando */
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #94b8d7;
}

a{
    text-decoration: none; /*esto es para sacarle la decoración*/
    color: white; /*letra de botón iniciar sesión */
}
header{
    display: flex;
    height: 70px, 70px;
    background-color: #557996;
    justify-content: space-between;/*para darle espacio entre los div*/
    align-items: center;
    box-shadow: 10px, 10px, 15px;
}

.inicio-sesion .boton-inicio{
    color: white;
}

.logo{
    display: flex;
    padding: 10px;
    align-items: center;/*alinear en el centro*/
}

.logo .logo-name{
    color: white;
}

.logo img{
    height: 80px;
    padding: 10px;
    align-items: center;
    margin-right: 10px;
}


.fpage .img-fpage{

    height: 540px;
    padding: 40px;
    border-radius: 90px;
}

.f-mapa .img-mapa{
    padding: 40px;
    height: 540px;
    border-radius: 90px;

}

.img-low{
    display: flex;
}

.img-low .map-img{
    padding: 40px;
    height: 540px;  
    border-radius: 90px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center; /* Para centrar verticalmente */
    flex-wrap: wrap; /* Para que los elementos se ajusten si no caben en una sola fila */
    padding: 20px; /* Añade algo de espacio alrededor de los elementos */
}



.contenedor > div{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.75);
    background-color: #2d4263;
    border-radius: 20px;
}