body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #141313;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #efefef;
}

.card{
    background-image: url(../img/fondos/contactBack.png);
    background-position: center center;
}

.card label{
    color: #efefef;
}

.contact{
    width: 100%;
    display: block;
    opacity: 90%;
    background: #c5c5c5;
    box-shadow: 7px 13px 37px #2a2a2a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact .apartado h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#141313;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
.contact .apartado p{
    color: #141313;
    font-size: 20px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    text-align: center;
}