*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Merriweather', sans-serif;
    font-size : 20px;
}

body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #141313;
}

table{
    background-color: #efefef;
}
.container{
    float: left;
}

.card{
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	justify-content: center;
	text-align: center;
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}