<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {%block css%}
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    {%endblock css%}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dickson's Barber</title>
</head>
<body>
    {%load static%}

    <!-- Encabezado-->
    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'home'%}"><img src="{%static 'img/icons/icon.png'%}" alt="" style="height: 60px; width: 60px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'aboutUs'%}">Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">Corte de pelo</a></li>
                  <li><a class="dropdown-item" href="#">Perfilado de barba</a></li>
                  <li><a class="dropdown-item" href="#">Limpieza facial</a></li>
                  <li><a class="dropdown-item" href="#">Rizos permanentes</a></li>
                  <li><a class="dropdown-item" href="#">Teñido de pelo</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--Fin del encabezado-->
    {% block content %}
    {% endblock content%}

    <!--Footer-->
    <footer class="footer">
      <h1>hasdfasdf</h1>

    </footer>

    <!--Fin del Footer-->
</body>
</html>