{% extends 'app/base.html' %}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static 'css/reserve.css'%}">
<link rel="stylesheet" href="{%static 'css/base.css'%}">
{%endblock css%}

{%block content%}
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>Servicios disponibles</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre del servicio</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Agendar</th>
                </tr>
                {%for s in entity%}
                    <tr> 
                        <td>{{ s.nombre | title }}</td>
                        <td>{{ s.descripcion }}</td>
                        <td>${{ s.precio }}</td>
                        <td><a href="{%url 'add_service' s.id%}" class="btn btn-outline-dark btn-sm">Agendar</a></td>
                    </tr>
                {%endfor%}
            </table>
            <div>
                {% include 'app/paginator.html'%}
            </div>
        </div>
    </div>
    <div>
        {%include 'app/cart.html'%}
    </div>
</div>
<br>
<br>
{%endblock content%}