{% extends 'app/base.html' %}
{%load static%}

{%block css%}
<link rel="stylesheet" href="{%static 'css/base.css'%}">
<link rel="stylesheet" href="{%static 'css/services.css'%}">
{%endblock css%}

{%block content%}
{%load static%}
<div class="container">
    {% for servicio in servicios %}
    <div class="card">
        
        <div class="contenido-card">
            <figure>
                <img src="{{ servicio.imagen.url }}">
            </figure>
            <h1>{{ servicio.nombre}}</h1>
            <p>{{ servicio.descripcion }}</p>
            <p>${{ servicio.precio}}</p>
        </div>
    </div>
    {% endfor %}
    <h2 class="instrucciones">Para poder agendar una hora, deberas seleccionar la disponibilidad en el
        calendario que se mostrará en pantalla. 
</div>
{%endblock content%}
